#merge [

        ; Common:

        {:migratus {
                    :store                :database
                    ;defaults to true, some databases do not support
                    ;schema initialization in a transaction
                    :init-in-transaction? false
                    :migration-table-name "migratus_migrations"
                    :migration-:dir         "migrations/"
                    :init-script "init.sql"}}

        ; Profile specific:

        #profile {

                  :prod #envfile LACINIA_PLAYGROUND_CONFIG_FILE

                  :dev   {
                          :log-level :info

                          ; hikari
                          :datasource-options {:adapter "h2"
                                               :url     "jdbc:h2:./lacinia-playground;AUTO_SERVER=TRUE"}
                          }

                  :test  {
                          :log-level :info

                          ; hikari
                          :datasource-options {:adapter "h2"
                                               :url     "jdbc:h2:./lacinia-playground;AUTO_SERVER=TRUE"}

                          }}]
