#merge [

        ; Common:

        {:migratus {
                    :store                 :database

                    ;defaults to true, some databases do not support
                    ;schema initialization in a transaction
                    :init-in-transaction?  false

                    :migration-table-name  "migratus_migrations"
                    :migration-:dir        "migrations/"
                    :init-script           "init.sql"
                    }}

        ; Profile specifics:

        #profile {

                  :prod #envfile LACINIA_PLAYGROUND_CONFIG_FILE

                  :dev   {
                          :log-level :warn
                          }
                  :test  {
                          :log-level :warn
                          }}]
